{% load staticfiles %}
<html>
    <head>
        <title>Auth App | test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="{% static 'user/style.css' %}" media="screen">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">RuperMurder</a>
                    </div>
                    <ul class="nav navbar-nav">
                        {% block navbar %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </nav>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>